SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_VENDOR_ID}=="1a86", ENV{ID_MODEL_ID}=="7523", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:2.4.3.2.2:1.0", SYMLINK+="hwk_pressure_left_gripper_1", GROUP="dialout", MODE="0660"

SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_VENDOR_ID}=="1a86", ENV{ID_MODEL_ID}=="7523", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:2.4.3.2.4:1.0", SYMLINK+="hwk_pressure_left_gripper_2", GROUP="dialout", MODE="0660"

SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_VENDOR_ID}=="1a86", ENV{ID_MODEL_ID}=="7523", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:2.4.1.1:1.0", SYMLINK+="hwk_pressure_right_gripper_1", GROUP="dialout", MODE="0660"

SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_VENDOR_ID}=="1a86", ENV{ID_MODEL_ID}=="7523", ENV{ID_PATH}=="pci-0000:00:14.0-usb-0:2.4.4.2:1.0", SYMLINK+="hwk_pressure_right_gripper_2", GROUP="dialout", MODE="0660"
